.beach_default_gif_image_1{
    background-image:  url("https://media.tenor.com/S5jsXxXS78wAAAAd/beach-ocean.gif");
    height: 500px;
    width: 500px;
}

.beach_default_gif_image_2{
    background-image:  url("https://media.tenor.com/33SprjtrZUcAAAAd/alexis-ren-beach.gif");
    height: 600px;
    width: 400px;
}

.beach_default_gif_image_3{
    background-image:  url("https://media.tenor.com/WUS5mHPwkUkAAAAd/beach.gif");
    height: 500px;
}

.beach_default_gif_image_4{
    background-image:  url("https://media.tenor.com/n9a1pzdnb58AAAAC/flip-backflip.gif");
    height: 500px;
}