.floor2_photo_default{
    background-image: url("https://images.unsplash.com/photo-1495365200479-c4ed1d35e1aa?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8aG90ZWwlMjBoYWxsd2F5fGVufDB8fDB8fHww&w=1000&q=80");
    height: 400px;
}

.choice-floor1{
    background-image: url("https://images.unsplash.com/photo-1495365200479-c4ed1d35e1aa?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8aG90ZWwlMjBoYWxsd2F5fGVufDB8fDB8fHww&w=1000&q=80");
}