.claudetthe-room {
    background-image: url(https://img1.10bestmedia.com/Images/Photos/378649/Park-Hyatt-New-York-Manhattan-Sky-Suite-Master-Bedroom-low-res_55_660x440.jpg);
    height: 400px;
}

.choice-search-claudetthe-room{
    background-image: url(https://c8.alamy.com/compfr/e4f72d/inspecteur-de-l-homme-a-travers-une-loupe-e4f72d.jpg);
}

.black-lingerie-image{
    background-image: url(https://m.media-amazon.com/images/I/61Eo4L0z2iL._AC_SX522_.jpg);
    height: 400px;
    width: 300px;
}