.claudetthe-chat{
    background-image: url("https://m.media-amazon.com/images/S/pv-target-images/61238f6942f3eda69a7832db0824b9789a9174f012ddb324498e836e1982b52e.jpg");
    background-size: cover;
    display: block;
    margin: auto;
    padding: 1px;
    height: 84px;
    width: 84px;
    float: left;
    margin: 0px 10px 0px 0px;
    border: 2px solid white;
    border-radius: 5px;
}

.claudetthe-photo-first-econunter{
    background-image: url("https://www.masterfap.net/profile/elle-matthews/photos/1x2z71ddGC/elle-matthews.webp");
    width: 400px;
    height: 600px;
}

.claudetthe-photo-fantasy{
    background-image: url("https://www.masterfap.net/profile/elle-matthews/photos/qKbbSaKR6V/elle-matthews.webp");
    width: 400px;
    height: 600px;
}

.claudetthe-photo-tease{
    background-image: url("https://www.masterfap.net/profile/elle-matthews/photos/auRKz8O58W/elle-matthews.webp");
    width: 400px;
    height: 600px;
}