.olive-chat{
    background-image: url("https://i.ibb.co/QmZPB5N/y-GOkl-Dst1-HNa-HQAi1m-Fy-R4-KPd-PD.jpg");
    background-size: cover;
    display: block;
    margin: auto;
    padding: 1px;
    height: 84px;
    width: 84px;
    float: left;
    margin: 0px 10px 0px 0px;
    border: 2px solid white;
    border-radius: 5px;
}

.choice-olive{
    background-image: url("https://i.ibb.co/QmZPB5N/y-GOkl-Dst1-HNa-HQAi1m-Fy-R4-KPd-PD.jpg");
}

.olive-bar-default{
    background-image: url("https://i.ibb.co/nCYmMnw/ezgif-frame-030.png");
    width: 700px;
    height: 500px;
}





.ivy-chat{
    background-image: url("https://i.ibb.co/GH3CCpm/Cnba-Oa7-VIAAUDty.jpg");
    background-size: cover;
    display: block;
    margin: auto;
    padding: 1px;
    height: 84px;
    width: 84px;
    float: left;
    margin: 0px 10px 0px 0px;
    border: 2px solid white;
    border-radius: 5px;
}

.choice-ivy{
    background-image: url("https://i.ibb.co/GH3CCpm/Cnba-Oa7-VIAAUDty.jpg");
}

.ivy-guard-default{
    background-image: url("https://i.ibb.co/R3LhSQJ/F6-Kz-ESMak-AA42x1.jpg");
    
    width: 500px;
    height: 800px;
}


.amy-chat{
    background-image: url("https://i.ibb.co/Xs9ppsZ/280041-amy-anderssen-sexy-and-beautiful-women-1.jpg");
    background-size: cover;
    display: block;
    margin: auto;
    padding: 1px;
    height: 84px;
    width: 84px;
    float: left;
    margin: 0px 10px 0px 0px;
    border: 2px solid white;
    border-radius: 5px;
}

.choice-amy{
    background-image: url("https://i.ibb.co/Xs9ppsZ/280041-amy-anderssen-sexy-and-beautiful-women-1.jpg");
}

.amy-model-default{
    background-image: url("https://i.ibb.co/JmRDFYt/amy-anderssen004-1.png");
    
    width: 500px;
    height: 800px;
}



.kim-chat{
    background-image: url("https://i.ibb.co/0nkxjBz/512x512bb.jpg");
    background-size: cover;
    display: block;
    margin: auto;
    padding: 1px;
    height: 84px;
    width: 84px;
    float: left;
    margin: 0px 10px 0px 0px;
    border: 2px solid white;
    border-radius: 5px;
}

.choice-kim{
    background-image: url("https://i.ibb.co/0nkxjBz/512x512bb.jpg");
}

.kim-model-default{
    background-image: url("https://i.ibb.co/Lp5ZLJ0/Anastasiya-Kvitko-Huge-Ass-in-White-Lingerie-1.jpg");
    
    width: 500px;
    height: 800px;
}


.nikita-chat{
    background-image: url("https://i.ibb.co/bvkw68h/34348534-055-6c73.jpg");
    background-size: cover;
    display: block;
    margin: auto;
    padding: 1px;
    height: 84px;
    width: 84px;
    float: left;
    margin: 0px 10px 0px 0px;
    border: 2px solid white;
    border-radius: 5px;
}

.choice-nikita{
    background-image: url("https://i.ibb.co/bvkw68h/34348534-055-6c73.jpg");
}

.nikita-model-default{
    background-image: url("https://i.ibb.co/4PVSKvb/231709-01big.jpg");
    
    width: 500px;
    height: 800px;
}



.jennifer-chat{
    background-image: url("https://i.ibb.co/Srqs4g5/y-ATl-SH8-RHi-KG1-Ufelicyxjd-XCJ6.jpg");
    background-size: cover;
    display: block;
    margin: auto;
    padding: 1px;
    height: 84px;
    width: 84px;
    float: left;
    margin: 0px 10px 0px 0px;
    border: 2px solid white;
    border-radius: 5px;
}

.choice-jennifer{
    background-image: url("https://i.ibb.co/Srqs4g5/y-ATl-SH8-RHi-KG1-Ufelicyxjd-XCJ6.jpg");
}

.jennifer-blackjack-default{
    background-image: url("https://i.ibb.co/Zc3tD9Q/62085377-013-af76.jpg");
    
    width: 500px;
    height: 800px;
}




